<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NewsApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B3DAC841EF92C5000360CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3DAC981EF92C5000360CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B3DACA31EF92C5000360CCC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
